/*
*** Limpar formatações ***
*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#area-principal {
    width: fit-content;
    margin: 10px auto;
}

.buttons {
    margin-top: 5px;
}