body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f2f2f2;
}

/*
*** Layout ***
*/
#container {
    width: 85%; /*720px*/
    min-height: 700px;
    margin: 0 auto;
    background: #fff;
    min-width: 720px;
    max-width: 960px;
}

#marca {
    height: 200px;
    line-height: 200px;
    font-size: 2em;
    text-align: center;
    background: #9e9e9e url(Fotos/cabecalho.jpg) no-repeat center;
}

#conteudo {
    width: 86%; /*620px*/
    height: auto;
    min-height: 700px;
    float: right;
}

#conteudo-principal {
    width: 71%;
    float: left;
    text-align: justify;
}

#conteudo-secundario {
    width: 25%;
    min-width: 160px;
    float: right;
    background: #d1d1d1;
    /* padding-left: 20px;
    padding-right: 20px; */
    text-align: justify;
}

#navegacao {
    width: 10%;
    background: #d1d1d1;
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    min-width: 90px;
}

#navegacao ul {
    text-align: center;
    margin: 0;
    padding: 10px;
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
    color: black;
}

#navegacao li a:hover {
    font-weight: 600;
}

#rodape {
    background: #c4c4c4;
    clear: both;
    float: inline-start;
    padding: 5px;
}

/*
*** Formatação de texto ***
*/
h1 {
    font-size: 1.5em;
    margin-top: 15px;
    margin-bottom: 6px;
}

p {
    margin-top: 5px;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 10px;
    padding-right: 10px;
}

/*
*** Formatação de mídia ***
*/
img.img-noticia {
    width: 96%;
    margin: 2%;
    border-radius: 10px;
    max-width: 700px;
}